:root{
    --primeira-cor: #222831;
    --segunda-cor: #393E46;
    --terceira-cor: #2a5bfd;
    --quarta-cor: #EEEEEE;
}

#livros{
    margin-top: 50px;
    
}
#tabela{
  width: 100%;
  border-collapse: separate; 
  border-spacing: 15px;
  
}
#categoria-mais-vendidos{
    text-align: center;
}

/* .linhas{

} */

.colunas{
    max-width: 250px;
    max-height: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    
}

.imagem-livros{
    width: 200px;
}

.titulo-livros{
    font-size: 17px;
}
.preco-livros{
    font-size: 20px;
    color: #0d690d;
    text-align: center;
}

.btn-comprar{
    border-radius: 5px;
    background: var(--terceira-cor);
    color: #FFFFFF;
    border: none;
    padding: 7px 10px; 
    width: 100%;
    
}
.btn-comprar:hover{
    background: #193eb4;
}

